backend-api/vendor/
backend-api/writable/cache/
backend-api/writable/debugbar/
backend-api/writable/logs/
backend-api/writable/session/
backend-api/writable/uploads/
backend-api/.env
output/
.DS_Store
Thumbs.db
